@forward '../utils/vars';

.fifth_section {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;

  & > h2 {
    margin-bottom: 95px;
  }

  &-wrapper {
    max-width: 100%;
    width: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 165px;

    & p {
      width: 346px;
      font-size: 25px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      position: relative;
      margin-bottom: calc(51px * 2);
    }

    & p::after {
      content: '';
      height: 1px;
      width: 144px;
      background-color: $c-black-light;
      border: 1px solid $c-black;
      position: absolute;
      bottom: -46px;
      left: 0;
    }

    & p:last-child::after {
      height: 0;
      border: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .fifth_section {
    &-wrapper {
      flex-direction: column;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & p:last-child::after {
        height: 1;
        border: 1px solid $c-black-light;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .fifth_section {
    &-wrapper p {
      width: $width-for-mobile;
    }
  }
}
