@forward '../utils/vars';

.fourth__section {
  max-width: 1200px;
  height: auto;
  margin: 0 auto 146px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    'first second'
    'first second'
    'third second'
    'third fourth';

  & > div {
    background-color: $c-grey;
    border: 8px solid $c-white;
  }

  &-sub-section-1 {
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
      margin-top: 145px;
      margin-bottom: 45px;
    }

    & > h3 {
      width: 50%;
      font-size: 35px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-bottom: 140px;
    }
  }

  &-sub-section-2 {
    grid-area: second;
    display: flex;
    justify-content: flex-end;

    & > h3 {
      width: 50%;
      font-size: 35px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-top: 70px;
      margin-right: -25%;
    }
  }

  &-sub-section-3 {
    grid-area: third;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
      margin-top: 145px;
      margin-bottom: 45px;
    }

    & > h3 {
      width: 80%;
      font-size: 35px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-bottom: 140px;
    }
  }

  &-sub-section-4 {
    grid-area: fourth;
    text-align: center;

    & > h3 {
      font-size: 71px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-bottom: 30px;
      color: $c-green;
    }

    & > p {
      font-size: 35px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-bottom: 140px;
    }
  }
}

@media screen and (max-width: 900px) {
  .fourth__section {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      'first'
      'second'
      'third'
      'fourth';

    &-sub-section-2 {
      & > h3 {
        margin-right: 0;
      }
    }

    &-sub-section-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .fourth__section {
    &-sub-section-1 {
      & > h3 {
        width: $width-for-mobile;
      }
    }

    &-sub-section-2 {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      overflow-y: hidden;
      position: relative;

      & > h3 {
        width: $width-for-mobile;
        position: absolute;
        top: 0;
      }
    }
  }
}
